@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  scroll-behavior: smooth;
  user-select: none;
}

:root {
  --bgOrange: #e84949;
}




.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;

  /* width: 100vw; dont do this*/
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}












.container {
  /* width: 1200px; */
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.space video{
  position: absolute;
  /* z-index: -11; */
  filter:opacity(85%);
  width: 100%;
  /* transform:rotate(180deg); */
  /* transform: scale(1.5); */
  transform: translateY(-326px) rotate(180deg);
  
}





.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
  align-items: center;
  /* padding-top: 1rem; */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.283);
  backdrop-filter: blur(10px);
  z-index: 10;
  
  position: fixed;
}

.logo {
  width: 28px;
  margin: 0 1rem;
  border-radius: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  /* margin-left: -1.2rem; */
  /* font-size: 28px; */
  color: rgba(255, 255, 255, 0.765);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 2rem; */
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0.198);
  backdrop-filter: blur(11px);

  height: 35px;
  width: 550px;
  /* padding: 5px; */
  align-items: center;
  border-radius: 16px;
  padding: 0 3.4rem;
}

.nav-item a{
  cursor: pointer;
  position: relative;
  /* width: 30px; */
  /* background-color: #544aec; */
  font-size: 1rem;
  color: rgba(241, 242, 238, 0.677);
  /* font-weight: 400; */
}

a {
  text-decoration: none;
}

.nav-item a:hover {
  /* transition: 0.3s;  */
  /* letter-spacing: 1px; */
  color: rgba(246, 230, 230, 0.858);

}

.nav-links{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  gap: 2rem;
  /* width: 300px; */
  /* position: relative; */
  /* background-color: rgba(217, 0, 0, 0.387); */
  /* height: 35px;*/
  /* width: 550px;  */
  /* padding: 5px; */
  /* align-items: end; */
  /* border-radius: 16px;
  padding: 0 3.4rem; */
}


/* Header End */











/* Hero Section Start  */

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  /* gap: 5rem; */
  /* margin: 4rem auto; */
  /* padding: 0 1rem; */
  /* padding-bottom: 4rem; */
} 

.faded-text {
  user-select: none;
  font-size: 6em;
  color: rgb(30, 30, 30);

  /* color:gb(18, 18, 18); */

  bottom: -40%;
  left: 0%;
  font-weight: bold;

  /* transition: all 3s; */
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-section-heading {
  /* -webkit-text-stroke: 1px var(#37FF8B); */
  font-size: 35px;
  color: #700343;
  line-height: 30px;
}

.role {
  /* color: #4e45d5; */
  /* background-image: linear-gradient();
   */
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.absolute {
  position: absolute;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 40px;
}

.hero-section-description {
  font-size: 1rem;
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}



/* aayush button starts*/
.btn{
  background-color: #110101;
  border-color: rgb(238, 181, 245);
  border-width: 2px;
  border-style:solid;
  text-align: center;
  color: #eacaf7d3;
  /* width: 180px; */
  margin-top: 1rem;
  min-width: 180px;
  max-width: 250px;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  font-family: gillroy, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  box-shadow: 0px 0px 60px 10px rgba(236, 17, 17, 0.368);
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.btn:hover{
  box-shadow: 0px 0px 75px 15px rgba(210, 17, 236, 0.507);
  transition: 0.4s 0.5s;
  scale:1.05;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.574);
  border-color: rgb(241, 193, 247);
  color: #ffffffef;

}

.btn::before{
  content: "";
  /* background-color: rgba(139, 1, 177, 0.522); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s ease;
  border-radius: 8px;
  z-index: -1;
  
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.btn:hover::before{
  transform: scaleX(1);
}

/* aayush button ends*/










.hero-section-right {
  position: relative;
}


.myCard {
  background-color: transparent;
  /* width: 190px;
  height: 254px; */
  height: 23rem;
  width: 16rem;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {

  background-image: url("./Images/userAsset/aayush.jpg");
  background-size: cover;
  /* background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); */
}

.backSide,
.backSide::before {
  background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  /* background-color: #ffd700; */
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before, .backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}



@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}























/* Projects Section  */
.projectSection {
  /* margin-top: 5rem; */
  /* background-color: #000000; */
  /* background-color:  rgb(30, 30, 30); */
  background: linear-gradient(rgb(30, 30, 30),black,black,black);


}

.projectTitle {
  padding-top: 7rem;
  color: rgb(149, 3, 216);

  font-size: 90px;
  line-height: 75px;
  /* padding: 50px 0 30px; */
  text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* width: 100%; */
}

#project1 {
  background-image: url(./Images/projects/Frame\ 1\ \(1\).png);
  right: 5%;
  margin-top: 5rem;
}

#project2 {
  background-image: url(./Images/projects/Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(./Images/projects/Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(./Images/projects/Project4.png);
  left: 5%;
}

.projectCard {
  width: 80%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 28px;
  margin: 2rem auto;
  
  z-index: 2;
  transition: 1s;
}

.projectCard:hover{
  box-shadow: 0px 0px 1000px rgb(102, 5, 54);
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: linear-gradient(45deg, #343d68, #343d68be, #343d687c); */
  background: linear-gradient(90deg, #000000b0, rgba(0, 0, 0, 0.266), #95969600);
  z-index: 1;
  transition: 0.5s;
  border-radius: 25px;

  transform-origin: left;
  transform: scaleX(0);
}

.projectCard:hover::before {
  transform: scaleX(1);
}




.projectNumber {
  position: absolute;
  font-size: 180px;
  font-weight: 600;
  color: rgba(251, 142, 196, 0.437);
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.rightNumber {
  top: -45px;
  right: -45px;
}

.leftNumber {
  top: -45px;
  left: -45px;
}

.projectCard:hover .projectNumber {
  display: block;
  
}

.projectCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.projectContent {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  gap: 1rem;
  color: white;
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: 0.4s;
}

.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}

.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.projectSkill {
  width: 40px;
}
.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.projectCard:hover .projectContent {
  transform: scale(1.1);
}


/* Project Section End  */










/* Skill Section Start  */

.space2 video{
  position: absolute;
  z-index: -11;
  width: 1000px;
  /* transform:rotate(180deg); */
  filter: opacity(80%);
  /* transform: scale(1.5); */
  transform: translateX(350px) translateY(130px);
  
}

.skillContainer {
  position: relative;

  display: flex;
  padding: 10rem;
  /* margin: 10rem auto; */
  gap: 30px;
  z-index: 0;
  background-color: rgb(0, 0, 0);
  /* background: linear-gradient(rgb(18,18,18),black,black) */

}

.leftSkillContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skillHeading {
  color: #8a06be;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.skillHeading span {
  font-size: 90px;
}

.skillSubHeading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.skillSubHeading p {
  margin: 15px 0;
}
.rightSkillContainer {
  margin-right: 100px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  justify-content: center;
}

/* .blobStyle {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blobAnimation 3s linear infinite;
}

@keyframes blobAnimation {
  50% {
    top: 54%;
    left: 46%;
  }
} */

.skillsLogo {
  width: 80px;
  transition: all 0.5s;
}

.skillsLogo:hover {
  transform: scale(1.2);
}

.skillFadedText {
  font-size: 12em;
  right: 0%;
  bottom: -25%;
  user-select: none;
  color: #c2c2c235;
  font-weight: bold;
}

/* Skill Section End  */