@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* user-drag: none; */
  -webkit-user-drag: none;

}

:root {
  --bgOrange: #e84949;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;

  /* width: 100vw; dont do this*/
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.outerSectionDiv{
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}



/* ===============================custom scrollbar ===================================*/
::-webkit-scrollbar{
  width : 11px;
}
::-webkit-scrollbar-track{
  background: #191919bf;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bffe3,#ff22e597) ;
  border-radius: 10px;
}

/* ------------------custom scrollbar -------------------------------------*/








.navbar {
  display: flex;
  width: 100%;
  max-width: 1500px;
  /* max-width: 1300px; */
  left: 50%; /* to center horizontally */
  transform: translate(-50%, 0%);  /* to center horizontally */
  justify-content: space-between;
  align-items: center;
  /* padding-top: 1rem; */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.134);
  /* background-color: rgb(0, 0, 0); */
  backdrop-filter: blur(10px);
  z-index: 10;
  position: fixed;


}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}


.logo {
  width: 28px;
  margin: 0 0.7rem;
  border-radius: 100px;
  filter: drop-shadow(0px 0px 12px #e8ab03);
}

.logo-text {
  /* margin-left: -1.2rem; */
  /* font-size: 28px; */
  color: rgba(243, 244, 238, 0.707);
}

.logo-text:hover{
  color: rgba(246, 230, 230, 0.858);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 2rem; */
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0.178);
  border: 2px solid rgba(34, 1, 51, 0.383);
  backdrop-filter: blur(11px);
  height: 35px;
  width: 550px;
  /* padding: 5px; */
  align-items: center;
  border-radius: 16px;
  padding: 0 3.4rem;
}

.nav-item a {
  cursor: pointer;
  position: relative;
  /* width: 30px; */
  /* background-color: #544aec; */
  font-size: 1rem;
  color: rgba(241, 242, 238, 0.677);
  /* font-weight: 400; */
}

a {
  text-decoration: none;
}

.nav-item a:hover {
  /* transition: 0.3s;  */
  /* letter-spacing: 1px; */
  color: rgba(246, 230, 230, 0.858);
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  gap: 1.5rem;
  /* width: 300px; */
  /* position: relative; */
  /* background-color: rgba(217, 0, 0, 0.387); */
  /* height: 35px;*/
  /* width: 550px;  */
  /* padding: 5px; */
  /* align-items: end; */
  /* border-radius: 16px;
  padding: 0 3.4rem; */
}

.nav-icon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.819);
  font-size: 17px;
  transition: 0.3s;
}

.nav-icon:hover {
  color: rgb(255, 255, 255);
  transform: scale(0.9);
  filter: drop-shadow(0px 0px 7px #ffffff);
}

.nav-icon:active {
  transform: scale(0.8);
}


@media (max-width:641px){
  .nav-items{
    display:none;
  }
  .navbar{
    padding: 1rem 0.5rem;
  }
}
/*===============================Header End =================================*/











/*================================== Hero Section Start==========================================  */

.hero{
  /* top: 0%; */
  position: relative;
  padding: 12rem 3rem;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: row;
  /* padding-top: 12rem; */
  /* gap: 5rem; */
  /* margin: 4rem auto; */
  /* padding: 0 1rem; */
  /* padding-bottom: 4rem; */
}

.space video {
  /* position: absolute; */
  /* z-index: -11; */
  /* filter:opacity(85%); */
  /* width: 100%; */
  /* transform:rotate(180deg); */
  /* transform: scale(1.5); */
  /* transform: translateY(-321px) rotate(180deg); */
  position: absolute;
  width: 100%;
  /* top: -22%; */
  top: 50%;
  left: 50%;
  filter: opacity(100%);
  transform: translate(-50%, -95.6%) rotate(180deg);
  z-index: 0;
}


.faded-text {
  user-select: none;
  font-size: 6.5em;
  color: rgb(30, 30, 30);
  /* color:gb(18, 18, 18); */
  bottom: -3.4%;
  left: -5.5%;
  font-weight: bold;
  /* transition: all 3s; */
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  z-index: 1;
}

.hero-section-heading {
  /* -webkit-text-stroke: 1px var(#37FF8B); */
  font-size: 35px;
  color: #700343;
  line-height: 30px;
}

.role {
  /* color: #4e45d5; */
  /* background-image: linear-gradient();
   */
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.absolute {
  position: absolute;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 40px;
}

.hero-section-description {
  font-size: 1rem;
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}



/* ----------------------aayush button starts-------------------*/

.btn {
  background-color: #110101;
  border-color: rgb(238, 181, 245);
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #eacaf7d3;
  /* width: 180px; */
  /* margin-top: 1rem; */
  min-width: 180px;
  max-width: 250px;
  padding: 1rem 2.5rem;
  border-radius: 30px;
  font-family: gillroy, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  box-shadow: 0px 0px 140px 80px rgba(236, 17, 17, 0.256);
  position: relative;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

.btn:hover {
  /* transition: 0.4s 0.5s; */
  transition: 0.5s;
  scale: 1.0;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.574);
  /* border-color: rgb(241, 193, 247);
  color: #ffffffef; */
}

.btn::before {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;   OR*/
  height: 100%;
  width: 100%;
  /* transform: scaleY(0.14); */
  transform: translate(0%, 82%);
  transform-origin: bottom;
  /* transition: 0.3s ease; */
  transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  /* border-radius: 80px; */
  z-index: -1;
  background-image: linear-gradient(135deg, #7b4397, #dc2430);
  
  /* border-radius: inherit; */
}

.btn:hover::before {
  /* transform: scaleY(1); */
  transform: translate(0%, 0%);
}

.btn:active {
  transform: scale(0.9) rotate(3deg);
  /* background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% ); */
  transition: 0.3s;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px 0px rgba(236, 17, 17, 0.256);

}

/* aayush button ends*/










.hero-section-right {
  position: relative;
  /* margin-right: 5rem; */
  /* padding-right: 5rem; */
}

.myCard {
  background-color: transparent;
  /* width: 190px;
  height: 254px; */
  height: 23rem;
  width: 16rem;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
  /* transform: rotateY(180deg) rotateZ(180deg); */
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}


.frontSide,
.frontSide::before {

  background-image: url("/userAsset/aayush_flower.jpg");
  background-size: cover;
  /* background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); */
}

.backSide,
.backSide::before {
  /* background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); */
  /* background-color: #ffd700; */
  background: linear-gradient(143deg, #8a2387, #e94057, #f27121);
  /* background: linear-gradient(140deg, #03001e, #7303c0, #ec38bc,white); */
}

.backSide {
  transform: rotateY(180deg);
  /* transform: rotateY(180deg) rotateZ(180deg); */
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 115%;
  height: 115%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(30px);
  animation: animate 3s linear infinite;
}


@keyframes animate {
  0% {
    opacity: 0.3;
    /* transform: translate(20px); */
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.3;
  }
}


@media (max-width:641px){
  .hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .space video{
  transform: translate(-50%, -247%) rotate(180deg) scale(1.4);
  }

  .hero-section-heading {
    font-size: 20px;
    line-height: 20px;
  }
  .role, .hero-section-sub-heading{
    font-size: 20px;
  }
  .hero-section-left {
    align-items: center;
    justify-content: center;
    top: -10%;
    gap: 1rem;
  }
  .hero-section-description {
    font-size: 13px;
    width: 95%;
    text-align:center;
  }
  .btn {
    font-size: 12px;
    margin-bottom: 2.5rem;
    padding: 0.9rem 2rem;

  }
  .faded-text {
  font-size: 3.5rem;
  bottom: -1.3%;
  left: 0%;
  }
  .myCard {
    height: 22rem;
    width: 15rem;
  }
}




















/*=============================== Projects Section =============================== */


.projectSection {
  /* margin-top: 5rem; */
  /* background-color: #000000; */
  /* background-color:  rgb(30, 30, 30); */
  background: linear-gradient(rgb(30, 30, 30), rgb(8, 8, 8), rgb(5, 5, 5), black, black, black, black);


}

.projectTitle {
  padding-top: 6rem;
  /* color: rgb(149, 3, 216); */
  background:  linear-gradient( 193deg, rgb(65, 88, 208) 0%, rgb(168, 12, 158) 46%, rgb(255, 204, 112) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* -webkit-text-stroke: 0.4px rgb(188, 12, 223); */
  font-weight: 700;
  font-size: 80px;
  /* line-height: 75px; */
  /* padding: 50px 0 30px; */
  text-align: center;
  color: rgb(235, 196, 247);
  /* text-shadow: 0 0 10px #a101a1, 0 0 20px #a002a0, 0 0 40px #a802a8; */
  letter-spacing: 1px;
}

.projectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* width: 100%; */
}

#project1 {
  background-image: url(./projects/razorpay.jpg);
  right: 5%;
  margin-top: 5rem;
}

#project2 {
  background-image: url(/projects/Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(/projects/Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(/projects/Project4.png);
  left: 5%;
}

.projectCard {
  width: 80%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  margin: 2rem auto;
  z-index: 1;
  transition: 1s;
}

.projectCard:hover {
  box-shadow: 0px 0px 1000px rgba(102, 5, 53, 0.765);
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: linear-gradient(45deg, #343d68, #343d68be, #343d687c); */
  background: linear-gradient(90deg, #000000b0, rgba(0, 0, 0, 0.266), #95969600);
  z-index: 1;
  transition: 0.5s;
  border-radius: 18px;

  transform-origin: left;
  transform: scaleX(0);
  /* transform: translate(-83%, 0%); */
}

.projectCard:hover::before {
  transform: scaleX(1);
  /* transform: translate(0%, 0%); */
}




.projectNumber {
  position: absolute;
  font-size: 180px;
  font-weight: 600;
  color: rgba(245, 217, 231, 0.506);
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.rightNumber {
  top: -60px;
  right: -65px;
}

.leftNumber {
  top: -60px;
  left: -65px;
}

.projectCard:hover .projectNumber {
  display: block;
}

.projectCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  border-radius: 20px;
  z-index: 0;
}

.projectContent {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  gap: 1rem;
  color: white;
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: 0.4s;
}

.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}

.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.projectSkill {
  width: 40px;
}

.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.projectCard:hover .projectContent {
  transform: scale(1.05);
}

/* .btnGroup {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btnGroup .btnProject {
  border: none;
  outline: none;
} */

.btnGroup{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.projectBtn {
  box-shadow: none;
  font-size: 0.7rem;
  font-weight: 600;
  height: 42px;
  padding: 0px 0px ;
  min-width: none;
  background-color: rgba(33, 33, 33, 0.678);
  min-width: 125px;
}

.projectBtn:hover {
  box-shadow: none;
  letter-spacing: 1px;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 30px;
  transition: 0.3s;
  margin-top: 1.5rem;
}

.icon:hover {
  scale: 0.9;
  filter: drop-shadow(0px 0px 7px #ffffff);
}

@media (max-width:641px){
  .projectTitle {
  font-size: 50px;
  }
  .projectContainer {
    gap: 3rem;
  }

  #project1, #project2, #project3, #project4{
    left: 0%;
    right: 0%;
  }
  .projectCard {
    margin: 2rem auto;
    height: 200px;
    margin: 0 auto;  
  }
  .projectCard:hover .projectNumber {
    display: none;
  }
  .projectContent {
    gap: 0rem;
    padding: 0.5em;
    bottom: 1%;
  }
  .leftProjectContent, .rightProjectContent {
    left: 2%;
  }
  .projectBtn{
    display: none;
  }
  .projectSkillsContainer {
  gap: 0.35em;
  }
  .projectSkill {
    width: 17px;
  }
  .projectHeading {
  font-size: 16px;

  }
  .projectSubHeading {
    font-size: 9px;
  }
  .icon {
    font-size: 15px;
    margin-top: 0.7em;
  }
}

/*====================== Project Section End ============================= */










/*============================= Skill Section Start  =================================*/



.skillContainer {
  position: relative;
  display: flex;
  padding: 6rem 3rem 2rem 2rem ;
  margin: 8rem auto;
  gap: 30px;
  z-index: 0;
  background-color: rgb(0, 0, 0);
}


.skillFadedText {
  font-size: 9rem;
  right: -5%;
  bottom: -10%; 
  user-select: none;
  color: #c2c2c225;
  font-weight: bold;
}

.leftSkillContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.skillHeading {
  /* color: #8a06be; */
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.skillHeading span {
  font-size: 90px;
}

.skillSubHeading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skillSubHeading p {
  margin: 15px 0;
  color: rgb(179, 177, 177);
}



/* .blobStyle {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blobAnimation 3s linear infinite;
}

@keyframes blobAnimation {
  50% {
    top: 54%;
    left: 46%;
  }
} */
.rightSkillContainer {
  margin-right: 75px;
  margin-top: 40px;
  height: 480px;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  width: 45%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.skillsLogo {
  width: 65px;
  /* height: 65px; */
  transition: 0.4s;
  /* scale: 0.9; */
}

.skillsLogo:hover {
  transform: scale(0.85);
}


.space2 video {
  /* position: absolute; */
  /* z-index: -11; */
  /* width: 1000px; */
  /* transform:rotate(180deg); */
  /* filter: opacity(80%); */
  /* transform: scale(1.5); */
  /* transform: translateX(350px) translateY(130px); */

  position: absolute;
  width: 200%;
  top: 50%;
  left: 50%;
  filter: opacity(95%);
  transform: translate(-50%,-15%);
  z-index: -1;
}

@media (max-width:641px){
  .skillContainer {
    padding: 6rem 3rem 2rem 2rem ;
    margin: 1rem auto;
    margin-bottom: 10rem;
    gap: 10px;
    flex-direction: column;
  }
  .leftSkillContainer {
    width: 100%;
  }
  .skillHeading {
  font-size: 35px;
  line-height: 50px;
  }
  .skillHeading span {
    font-size: 60px;
  }
  .skillSubHeading {
    width: 100%;
  }
  .skillSubHeading p {
    font-size: 14px;
  }
  .rightSkillContainer {
    margin-right: 0px;
    margin-top: 40px;
    padding: 1.3rem;
    gap: 1.3rem;
    width: 100%;
    height: auto;
  }
  .skillsLogo {
    width: 40px;
  }
  .space2 video {
    transform: translate(-50%,-15%) scale(1.3);
  }
  .skillFadedText {
    font-size: 8rem;
    right: 10%;
    bottom: -14%; 
  }
}

/* =============================Skill Section End======================= */












/* ==============================form Section Start ================================================*/

.contactSection{
  /* background-color: rgb(31, 31, 31); */
  background-image: url(./stack/connect.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* height: 650px; */
  /* margin-top: 7rem; */
}

.contactGrad {
  /* background-color: rgba(255, 0, 0, 0.14); */
  background: linear-gradient(rgb(0, 0, 0), rgba(8, 8, 8, 0.8),  rgba(8, 8, 8, 0.75), rgba(8, 8, 8, 0.433), rgba(8, 8, 8, 0.433), rgba(8, 8, 8, 0.433), rgba(8, 8, 8, 0.433), rgba(8, 8, 8, 0.433), black);
  height: 100%;
  width: 100%;
  padding-top: 5rem;
}


.upper {
  /* padding-top: 3.5rem; */
  padding-bottom: 3rem;
  /* background: linear-gradient(43deg, rgb(65, 88, 208) 30%, rgb(200, 80, 192) 40%, rgb(255, 204, 112) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: rgb(235, 196, 247);
  text-shadow: 0 0 10px #a101a1, 0 0 20px #a002a0, 0 0 40px #a802a8;
  width: 100%;
  font-size: 50px;
  text-align: center;
}

.upper p {
  font-weight: 300;
  display:inline-block;
}

.upper h3{
  display:inline-block;
  margin-left: 1rem;
}

.lower{
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding-bottom: 6rem;
  justify-content: space-around;
  align-items: center;
}



.left_img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.left_img>img{
  width: 80%;
  filter: drop-shadow(10px 10px 60px #2802a6);
}

.right>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.13);
  backdrop-filter: blur(11px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 60px rgba(8, 7, 16, 0.662);
  border-radius: 13px;
  padding: 5px;
  /* border: dotted 3px rgb(238, 181, 245); */
  /* border-image: linear-gradient(145deg, transparent 35%,#e81cff, #40c9ffb6) 30; */
}

input,
textarea{
  /* background-color: rgba(7, 0, 15, 0.136); */
  background-color: rgba(255,255,255,0.07);
  border: solid 1px rgb(165, 165, 165);
  padding: 5px 9px;
  width: 500px;
  min-height: 40px;
  margin: 10px;
  border-radius: 8px;
}

/* .contactMe > .lower > .right > input:focus, textarea:focus{
  outline: none;
  border-color: rgb(238, 181, 245);
} */

::placeholder{
  color: #e5e5e5d6;
}

.send-btn {
  font-size: 16px;
  background-image: linear-gradient(135deg, #7b4397, #dc2430);
  color: rgb(235, 181, 245);
  border: 2px solid rgb(238, 181, 245);
  padding: 0.5rem 1.3rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.send-btn span {
  margin-left: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.send-btn svg {
  display: block;
  /* transform-origin: center center; */
  /* transition: transform 0.3s ease-in-out; */
  transition: 0.3s;
  transform: scale(0.9);
}

.send-btn:hover svg {
  transform: translateX(1.2rem) rotate(45deg) scale(1.2);
}

.send-btn:hover span {
  transform: translateX(5rem);
}

.send-btn:active {
  transform: scale(0.95);
}

@media (max-width:641px){
  .upper {
    font-size: 40px;
  }
  .left_img{
    display: none;
  }
  .right>form {
    width: ;
  }
  input,
  textarea{
  width: 100%;
  /* min-height: 40px; */
  margin: 8px;
  }
}





.last {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
}

.secondLast {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.secondLast>a>h2 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondLast>p {
  font-size: 0.9rem;
}

.last-links {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.copyright {
  background-color: rgb(16, 16, 16);
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.copyright p {
  font-size: 0.9rem;
  color: gray;
}